{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
<select class="addlist" style="width:100px;">
    <option value="">Select ...</option>
    <optgroup label="{% trans 'Short Abstract' %}">
        {% if original and original.pending %}
        <option value="short-abstract/accept/">{% trans 'Accept' %} ...</option>
        <option value="short-abstract/reject/">{% trans 'Reject' %} ...</option>
        {% endif %}
    </optgroup>
    <optgroup label="{% trans 'Full Paper' %}">
        {% if original and original.fullpaper_pending %}
        <option value="fullpaper/accept/">{% trans 'Accept' %} ...</option>
        <option value="fullpaper/reject/">{% trans 'Reject' %} ...</option>
        {% endif %}
    </optgroup>
</select>
</li>
{{ block.super }}
{% endblock %}